{% extends "account/account_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm your email address" %}{% endblock %}

{% block main_content %}
    <div class="login">
        <div class="login-bottom">
            <h2>{% trans "Confirm your email address" %}</h2>

            <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p>
            <p><a href="{{ success_url }}">{% trans "Go back" %}</a></p>

        </div>
    </div>
{% endblock %}
