{% extends 'account/account_base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}Login{% endblock %}

{% block main_content %}
<div class="login">
		<h1><a href="{% url 'home' %}">{{ SITE_NAME }}</a></h1>


		<div class="login-bottom">
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
            {% endif %}
			<h2>Login</h2>
			<form method="post" target="">
                {% csrf_token %}
			<div class="col-md-6">
				<div class="login-mail">
                    {% render_field form.email placeholder="Email" required='required' %}
					<i class="fa fa-envelope"></i>
				</div>
				<div class="login-mail">
                    {% render_field form.password placeholder="Password" required='required' %}
					<i class="fa fa-lock"></i>
				</div>
                <a class="news-letter " href="#">
						 <label class="checkbox1">{% render_field form.remember %}<i> </i>Remember Me</label>
					   </a>

               <a class="news-letter " href="{% url "account_password_reset" %}">
                     {% trans "Forgot your password?" %}
                   </a>


			</div>
			<div class="col-md-6 login-do">
				<label class="hvr-shutter-in-horizontal login-sub">
					<input type="submit" value="login">
					</label>
					<p>Do not have an account?</p>
				<a href="{% url 'account_signup' %}" class="hvr-shutter-in-horizontal">Signup</a>
			</div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
			<div class="clearfix"> </div>
			</form>
		</div>
	</div>
{% endblock %}