{% extends "account/account_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block main_content %}
    <div class="login">
        <h1><a href="{% url 'home' %}">{{ SITE_NAME }}</a></h1>
        <div class="login-bottom">
            <form method="POST" action="">
                <legend>{% trans "Password reset" %}</legend>
                <p class="lead">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Reset my password" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
