{% extends 'account/account_base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load i18n %}
{% block head_title %}{% trans "Bad token" %}{% endblock %}

{% block main_content %}
<div class="login">
    <h1><a href="{% url 'home' %}">{{ SITE_NAME }}</a></h1>


    <div class="login-bottom">
        <h2>{% trans "Bad token" %}</h2>
        {% url "account_password_reset" as url %}
        <p style="padding: 0 0.9em 1em;">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>

    </div>
</div>
{% endblock %}