{% extends 'account/account_base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load i18n %}
{% block head_title %}{% trans "Set your new password" %}{% endblock %}

{% block main_content %}
<div class="login">
    <h1><a href="{% url 'home' %}">{{ SITE_NAME }}</a></h1>


		<div class="login-bottom">
            <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                <legend>{% trans "Set your new password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>

		</div>
	</div>
{% endblock %}