{% extends "account/account_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block main_content %}

    <div class="login">
        <h1><a href="{% url 'home' %}">{{ SITE_NAME }}</a></h1>
        <div class="login-bottom">
            <h2 class="text-success">{% trans "Password reset sent" %}</h2><br/>
        <p style="padding: 0 0.9em 1em;">{% blocktrans %}We have sent you an email. Please check your email.{% endblocktrans %}</p>
    {% if not resend %}

        <div class="row" style="padding: 0 0.9em 1em;" >
            <div class="col-md-5">
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend" %}</button>
                </form>
            </div>
        </div>
    {% endif %}
        </div>
    </div>
{% endblock %}
