{% extends 'account/account_base.html' %}

{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}Signup{% endblock %}

{% block main_content %}
<div class="login">
    <h1><a href="{% url 'home' %}">{{ SITE_NAME }}</a></h1>
    <div class="login-bottom">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}

        <h2>Register</h2>
        <form method="post" target="">
            {% csrf_token %}
        <div class="col-md-6">
            <div class="login-mail">
                 {% render_field form.name placeholder="Name" required='required' %}
                <i class="fa fa-user"></i>
            </div>
            {% if form.name.errors %}
                <div class="login-do" style="margin-top: -2em;">
                {% for error in form.name.errors %}
                    <p style="color: #a94442;">{{ error|escape }}</p>
                {% endfor %}
                </div>
            {% endif %}
            <div class="login-mail">
                 {% render_field form.email placeholder="Email" required='required' %}
                <i class="fa fa-envelope"></i>
            </div>
            {% if form.email.errors %}
                <div class="login-do" style="margin-top: -2em;">
                {% for error in form.email.errors %}
                    <p style="color: #a94442;">{{ error|escape }}</p>
                {% endfor %}
                </div>
            {% endif %}
            <div class="login-mail">
                {% render_field form.password placeholder="Password" required='required' %}
                <i class="fa fa-lock"></i>
            </div>
            {% if form.password.errors %}
                <div class="login-do" style="margin-top: -2em;">
                {% for error in form.password.errors %}
                    <p style="color: #a94442;">{{ error|escape }}</p>
                {% endfor %}
                </div>
            {% endif %}
            <div class="login-mail">
                {% render_field form.password_confirm placeholder="Repeated password" required='required' %}
                <i class="fa fa-lock"></i>
            </div>
            {% if form.password_confirm.errors %}
                <div class="login-do" style="margin-top: -2em;">
                {% for error in form.password_confirm.errors %}
                    <p style="color: #a94442;">{{ error|escape }}</p>
                {% endfor %}
                </div>
            {% endif %}
{#              <a class="news-letter" href="#">#}
{#                     <label class="checkbox1"><input type="checkbox" name="checkbox" required="required"><i> </i>I agree with the terms</label>#}
{#                   </a>#}

        </div>
        <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
                <input type="submit" value="Submit">
                </label>
                <p>Already register</p>
            <a href="{% url 'account_login' %}" class="hvr-shutter-in-horizontal">Login</a>
        </div>
        </form>
        <div class="clearfix"> </div>
    </div>
</div>

{% endblock %}