<div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="{% url 'dashboard-home' %}" class=" hvr-bounce-to-right"><i
                                class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                    </li>
                    <li>
                        <a href="{% url 'credits' %}" class=" hvr-bounce-to-right"><i
                                class="fa fa-money nav_icon "></i><span class="nav-label">Credits</span> </a>
                    </li>
                </ul>
            </div>
        </div>