<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ subject }}</title>
 
  <style>
    @media only screen and (min-device-width: 541px) {
      .content {
        width: 540px !important;
		font-family:Arial, Helvetica, sans-serif;
		line-height:1.4;
      }
	  .content td table {
		  border:1px solid #eeeeee;
		  border-collapse:collapse;
      }
	  .content td table td {
		  padding:5px;
      }
  </style>
</head>
 
<body style="background:#f3f3f3;">
 
<!--[if (gte mso 9)|(IE)]>
  <table width="540" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
<![endif]-->
 
        <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 540px; border:6px solid #ffffff;">
          <tr>
            <td style="background:#759D35; padding:5px;">
              <h3 style="color:#ffffff; text-align:center; margin:10px 0;">{{ site_name }}</h3></td>
          </tr>
          <tr>
            <td style="padding:5px 15px 0; background:#ffffff;">
              <p>Dear {{ name }},</p>
              <p><strong>Thank you for joining {{ site_name }}.</strong></p>
              <p>To protect our users from spam, we need to verify your email address before you can start using the website.</p>
              <p>Please click the verification link below to activate your account:</p>
              <p style="border:1px solid #eeeeee; padding:5px;"><strong><a href="{{ url }}" style="color:#2276BA;">{{ url }}</a></strong></p>
              <p>If the link doesn't work, please copy and paste the entire URL into your browser's address bar and press Enter.</p>
              <p>Thank you,<br />
              {{ site_name }} team</p>
              <p style="font-size:14px; border-top:1px dashed #cccccc; padding-top:10px; color:#ababab; text-align:center; margin-bottom:5px;">
                This is an automated email. Please do not reply
           </p></td>
          </tr>
        </table>
 
<!--[if (gte mso 9)|(IE)]>
      </td>
    </tr>
</table>
<![endif]-->
 
</body>
</html>