{% extends 'dashboard/base.html' %}
{% load static %}

{% block head_title %}Make Deposit{% endblock %}

{% block main_content %}
    <div class="banner">

        <h2>
            <a href="{% url 'dashboard-home' %}">Home</a>
            <i class="fa fa-angle-right"></i>
            <a href="{% url 'credits' %}">Credits</a>
            <i class="fa fa-angle-right"></i>
            <span>Make Deposit</span>
        </h2>
    </div>
    <!--//banner-->
    <div class="validation-system">
        <div class="validation-form">
            <form id="checkout" method="post" action="" style="padding-bottom: 40px;">
                {% csrf_token %}
                <p>Please choose the deposit amount and the payment method.</p><br><br>
                <div class="col-md-12 form-group1 group-mail">
                  <label class="control-label">Amount</label>
                  <input placeholder="Amount" required="" type="number" name="amount" style="width:25%;">
                </div>
                <fieldset>
                    <legend>Payment Method</legend>
                    <div id="payment-form"></div>
                </fieldset>

              <div class="col-md-12 form-group" style="margin-top: 10px;margin-bottom: 10px;">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>


    <script src="https://js.braintreegateway.com/js/braintree-2.30.0.min.js"></script>
    <script>
    // We generated a client token for you so you can test out this code
    // immediately. In a production-ready integration, you will need to
    // generate a client token on your server (see section below).
    var clientToken = "{{ braintree_token }}";

    braintree.setup(clientToken, "dropin", {
      container: "payment-form",
        paypal: {
            button: {
              type: 'checkout'
            }
          }
    });
    </script>


{% endblock %}