{% load static account_tags %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}
    {% endblock %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/screenfull.js' %}"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });


        });
    </script>

    <!----->

    <!--pie-chart--->
    <script src="{% static 'js/pie-chart.js' %}" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
    <!--skycons-icons-->
    <script src="{% static 'js/skycons.js' %}"></script>
    <!--//skycons-icons-->
</head>
<body>
<div id="wrapper">

    <!----->
    <nav class="navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="{% url 'dashboard-home' %}">{{ SITE_NAME }}</a></h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="border-bottom">
            <div class="full-left">
        	  <span class="credits">Credits: {{ request.user.credits|floatformat:2 }} $</span>
            <div class="clearfix"> </div>
           </div>
        </div>
        <div class="drop-men" style="margin-top:20px; margin-right:70px;">
            <ul class=" nav_1">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">{{ request.user.name }}<span class=" name-caret"><i
                            class="caret"></i></span></a>
                    <ul class="dropdown-menu " role="menu">
                        <li><a href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i>Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="clearfix">

        </div>

        {% include 'dashboard/partials/_sidebar.html' %}
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <div style="margin: 0 1em;">
                {% include "_messages.html" %}
            </div>
            <!--banner-->
            {% block main_content %}{% endblock %}
        </div>
    </div>
    <!--//content-->


    <!---->
    <div class="copy">
        <p> &copy; 2016 {{ SITE_NAME }}. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
        </p>
    </div>
</div>
<div class="clearfix"></div>

<!---->
<!--scrolling js-->
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<!--//scrolling js-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>

