{% extends 'dashboard/base.html' %}
{% load static %}

{% block head_title %}Credits History{% endblock %}

{% block main_content %}
    <div class="banner">

        <h2>
            <a href="{% url 'dashboard-home' %}">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Credits</span>
        </h2>
    </div>

    <!--grid-->
    <div class="inbox-mail">

        <!-- tab content -->
        <div class="col-md-12 tab-content-in">
            <div class="tab-pane active text-style" id="tab1">
                <div class="inbox-right">

                    <div class="mailbox-content">
                        <div class="mail-toolbar clearfix">
                            <div class="float-right">

                                <div class="btn-group">
                                    <a href="{% url 'add-credits' %}" class="btn btn-default">
                                        <i class="fa fa-plus icon_8"></i>
                                        Deposit
                                        <div class="ripple-wrapper"></div>
                                    </a>

                                </div>


                            </div>

                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Amount ($)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                            <tr class="table-row">

                                <td class="table-text">
                                    <h6>{{ payment.created_at }}</h6>
                                </td>
                                <td class="table-text">
                                    <h6>{{ payment.amount }}</h6>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


{% endblock %}