{% extends 'dashboard/base.html' %}
{% load static %}

{% block head_title %}Dashboard Home{% endblock %}

{% block main_content %}
    <div class="banner">

        <h2>
            <a href="{% url 'dashboard-home' %}">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Dashboard</span>
        </h2>
    </div>
    <!--//banner-->



{% endblock %}